.container
  .page-header
    %h1
      .text-center
        .pull-left
          -if @issue.get_previous_issue != nil
            =link_to '', publisher_volume_issue_path(@publisher, @volume,@issue.get_previous_issue), class: 'glyphicon glyphicon-chevron-left'
        =link_to "#{@volume.name}", publisher_volume_path(@publisher, @volume)
        =" \# #{@issue.issue_number} "
        .pull-right
          -if @issue.get_next_issue != nil
            =link_to '', publisher_volume_issue_path(@publisher, @volume,@issue.get_next_issue), class: 'glyphicon glyphicon-chevron-right'
    %h4
      .text-center
        ="#{!(@issue.story_name == nil) && !@issue.story_name.empty? ? @issue.story_name : ''}"
  .row
    .col-md-6
      =image_tag(@issue.cover_image_url ? @issue.cover_image_url : 'no_image_available_cover.jpg', class: 'cover_image')
    .col-md-6
      .full-description
        -if @issue.description
          =strip_links(@issue.description_without_cover_info).html_safe
      .expansion-button

      -if !@issue.issue_credits.empty? || !@issue.character_appearances.empty?
        .well
          .row
            -if !@issue.issue_credits.empty?
              .col-md-7
                %h5 Issue Credits:
                %ul
                  -@issue.issue_credits.each do |credit|
                    %li
                      =link_to "#{credit.creator.name}", creator_path(credit.creator)
                      ="- #{credit.role}"
            -if !@issue.character_appearances.empty?
              .col-md-5
                %h5 Character Appearances:
                %ul
                  -@issue.characters.order(:name).each do |character|
                    %li=character.name

      -if @issue.cover_date
        %p
          %strong Cover Date:
          =@issue.cover_date.strftime('%B %Y')

      -if @issue.for_sale_comics
        -@issue.for_sale_comics.each do |comic|
          =link_to "Available for Purchase at #{comic.vendor.name} for #{number_to_currency(comic.price_in_cents.to_f/100)}", comic.url, class: 'btn btn-warning btn-lg btn-block'

      %p=link_to 'Return to Volume Overview', publisher_volume_path(@publisher, @volume)

      -# -if @issue.get_previous_issue != nil
      -#   %p=link_to 'Previous', publisher_volume_issue_path(@publisher, @volume,@issue.get_previous_issue), class: 'glyphicon glyphicon-chevron-left'
