.container
  .page-header
    %h1=@volume.name
  .row
    .col-md-6
      =image_tag(@volume.image_url ? @volume.image_url : 'no_image_available_cover.jpg', class: 'cover_image')

      -if @volume.for_sale_bundles && @volume.issues.count >= 20
        .container.center-block
          -@volume.for_sale_bundles.sort {|a,b| a.extract_first_number_from_bundle <=> b.extract_first_number_from_bundle }.each do |bundle|
            -if bundle.extract_issue_numbers_from_bundle == 'Big Bundle'
              =link_to "Purchase a bundle of all issues for #{number_to_currency(bundle.price_in_cents.to_f/100)} at #{bundle.vendor.name}", bundle.url, class: 'btn btn-warning btn-lg btn-block btn-bundle'
            -else
              =link_to "Purchase a bundle of issues #{bundle.extract_issue_numbers_from_bundle} for #{number_to_currency(bundle.price_in_cents.to_f/100)} at #{bundle.vendor.name}", bundle.url, class: 'btn btn-warning btn-lg btn-block btn-bundle'
    .container
      .col-md-6
        .description
          %p
            .full-description
              =strip_links(@volume.description).html_safe

        .well
          %h5="List of Issues (#{pluralize(@volume.issues.count, 'Issues')})"
          %ul
            -@volume.issues.sort {|a,b| a.issue_number.to_f <=> b.issue_number.to_f}.each do |issue|
              %li=link_to "Issue \##{issue.issue_number} #{!(issue.story_name == nil) && !issue.story_name.empty?  ? '- ' + issue.story_name : ''}", publisher_volume_issue_path(@publisher, @volume, issue)
        -if @volume.for_sale_bundles && @volume.issues.count < 20
          .container.center-block
            -@volume.for_sale_bundles.sort {|a,b| a.extract_first_number_from_bundle <=> b.extract_first_number_from_bundle }.each do |bundle|
              -if bundle.extract_issue_numbers_from_bundle == 'Big Bundle'
                =link_to "Purchase a bundle of all issues for #{number_to_currency(bundle.price_in_cents.to_f/100)} at #{bundle.vendor.name}", bundle.url, class: 'btn btn-warning btn-lg btn-block btn-bundle-right'
              -else
                =link_to "Purchase a bundle of issues #{bundle.extract_issue_numbers_from_bundle} for #{number_to_currency(bundle.price_in_cents.to_f/100)} at #{bundle.vendor.name}", bundle.url, class: 'btn btn-warning btn-lg btn-block btn-bundle-right'
        =link_to "View other volumes by #{@publisher.name}", publisher_path(@publisher)
